<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>oc-oxide</vendor>
  <vendor_url>https://github.com/fudanglp/oc-oxide</vendor_url>

  <action id="com.github.fudanglp.oc-oxide.control">
    <description>Control the oc-oxide VPN daemon</description>
    <message>Authentication is required to control oc-oxide VPN connections</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="com.github.fudanglp.oc-oxide.update">
    <description>Install oc-oxide updates</description>
    <message>Authentication is required to install oc-oxide updates</message>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/libexec/oc-oxide/oc-oxide-update</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>

  <action id="com.github.fudanglp.oc-oxide.update-local">
    <description>Install oc-oxide updates</description>
    <message>Authentication is required to install oc-oxide updates</message>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/local/libexec/oc-oxide/oc-oxide-update</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
